/**
 *  Simple Slide Wrapper
 */
#simple-slide-wrap {
  -moz-box-shadow: 0 0 15px #888;
  -webkit-box-shadow: 0 0 15px #888;
  background: #efefef;
  box-shadow: 0 0 15px #888;
  margin-bottom: 30px;
  position: relative;
}

/**
 *  Simple Slide and Container
 */
#simple-slide {
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 100;
}
#simple-slide .slides_container {
  display: none; /*  Set to display none, prevents content flash  */
  overflow: hidden;
  position: relative;
}
#simple-slide .slides_container div.slide {
  display: block;
}

/**
 *  Simple Slide Controler
 */
#simple-slide-wrap .playControl span {
  display: block;
  height: 100%;
  width: 100%;
}
#simple-slide-wrap .playControl span.play {
  background: url(../img/play.png) 0 0 no-repeat;
}
#simple-slide-wrap .playControl span.stop {
  background: url(../img/stop.png) 0 0 no-repeat;
}
#simple-slide-wrap .playControl {
  -moz-opacity: 0.7;
  color: white;
  filter: alpha(opacity=7);
  font-family: "console";
  font-weight: bold;
  height: 20px;
  opacity: 0.7;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 30px;
  width: 20px;
  z-index: 200; /*background:#222;*/
}
#simple-slide-wrap .playControl:hover {
  -moz-opacity: 1;
  cursor: pointer;
  filter: alpha(opacity=10);
  opacity: 1;
}

/**
 *  Next/prev buttons
 */
#simple-slide .pn-nav a {
  -moz-opacity: 0.2;
  display: block;
  filter: alpha(opacity=2);
  height: 44px;
  opacity: 0.2;
  position: absolute;
  width: 24px; /*left:-39px;*/
  z-index: 101;
}
#simple-slide-wrap .pause .pn-nav a {
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  opacity: 0.5;
}
#simple-slide .pn-nav a:hover {
  -moz-opacity: 1;
  filter: alpha(opacity=10);
  opacity: 1;
}
#simple-slide .next {
  right: 0;
}

/**
 *  Pagination
 */
#simple-slide .pagination {
  height: 12px;
  padding: 0;
}
#simple-slide .pagination li {
  float: left;
  list-style: none;
  margin: 0 1px;
}
#simple-slide .pagination li a {
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding-top: 12px;
  width: 12px;
}
#simple-slide .pagination li.current a {
  background-position: 0 -12px;
}

/**
 *  Caption
 */
#simple-slide .caption {
  background: #000;
  background: rgba(0,0,0,.5);
  bottom: -35px;
  color: #fff;
  font: 14px/1.36em "Verdana", "Lucida Grande", "Lucida Sans Unicode", "Segoe UI", "Helvetica", "Arial", "sans-serif";
  height: 30px;
  padding: 0 20px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  z-index: 500;
}
#simple-slide h1 {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 0;
  padding: 5px 0;
  text-shadow: 1px 2px 2px #555;
}
#simple-slide .caption .meta {
  background: #c01f25;
  color: #fff;
  float: right;
  padding: 2px 10px;
}
#simple-slide .caption .meta a {
  color: #fff;
}
#simple-slide .readmore {
  color: #00c0ff;
  font-weight: bold;
  text-shadow: 0 1px 1px #003547;
}
