/**
 * @file simple_slide_custom.css
 * This file is programmatically auto create at May 20, 2012, 11:46:44 pm.
 */

#simple-slide-wrap {
  height: 330px;
  width: 730px;
}
#simple-slide .pagination {
   margin: 20px 336px;
  width: 28px;
}
#simple-slide .caption {
  height: 75px;
  left: 50px;
  width: 560px;
}
#simple-slide .pn-nav a {
  top: 128px;
}
#simple-slide,
#simple-slide .slides_container,
#simple-slide .slide,
#simple-slide .slides_container div.slide {
  height: 300px;
  width: 700px;
}
